$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

$border-radius:4px;

$color-dark:rgb(61, 60, 60);
$color-gray:whitesmoke;
$color-warn:wheat;

$bg-color-loading:lightblue;
$bg-color-ready:whitesmoke;
$bg-color-error:lightsalmon;